table#board td {
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	font-size: 10vmin;
}

table#board td:hover { 
	background-color: lightgray;
}

table#board td.v {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

table#board td.h {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

span.status {
	font-size: 24px;
}

.centered {
	margin: 0 auto;
}